* {
    margin: 8px;
    font-size: large;
}


.main {
    background-color: #1F2937;
    color: white;
    height: 500px;
}

#h_log {
    margin: 20px 5px;
    padding: 10px 14px;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav div ul li {
    list-style: none;
    margin-right: 4rem;

}

.nav_item {
    display: flex;
    justify-content: space-between;
}

.content_1 {
    display: flex;
    justify-content: center;
}

.left {
    width: 30%;
}

#h1 {
    font-size: 48px;
    color: #f9faf8;
}

#sec_text {
    font-size: 18px;
    color: #E5E7Eb;
}

.btn {
    background-color: #3883f6;
    color: white;
    padding: 5px 23px;
    border-radius: 15px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a6d74;
    width: 30%;
    text-align: center;
}


.content_2 {
    text-align: center;
    margin-top: 37px;

}

.box_dir {
    display: flex;

}

.four_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box {
    border: 4px solid #3883f6;
    border-radius: 13px;
    width: 150px;
    height: 150px;
}

.h2 {
    font-size: 36px;
}