* {
    margin: 8px;
    font-size: large;
}


.main {
    background-color: #1F2937;
    color: white;
}

#h_log {
    margin: 20px 5px;
    padding: 10px 14px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav div ul li {
    list-style: none;
    margin-right: 4rem;

}

.nav_item {
    display: flex;
    justify-content: space-between;
}